.cities-section {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .sort-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }
}
