@use "../../../../assets/styles/mixins" as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  &__icon {
    height: 40px;
    width: 40px;
    @include md-screen {
      height: 35px;
      width: 35px;
    }
    @include sm-screen {
      height: 30px;
      width: 30px;
    }
  }
  &__text {
    font-size: 30px;
    font-weight: 600;
    @include md-screen {
      font-size: 26px;
    }
    @include sm-screen {
      font-size: 20px;
      &.hidden {
        display: none;
      }
    }
  }
}
