<section class="days-forecast-section">
  <div class="container">
    <div class="days-forecast">
      <div class="days-forecast-list">
        @for(dayForecast of daysForecast(); track $index) {
        <app-three-hour-forecast-card
          [forecast3Hour]="dayForecast"
          datePipeOption="dd.MM"
        ></app-three-hour-forecast-card>
        }
      </div>
      <div class="line-chart">
        <ngx-charts-line-chart
          [results]="chartData()"
          [legend]="false"
          [animations]="true"
          [xAxis]="true"
          [yAxis]="true"
          [xAxisLabel]="'date' | translate"
          [yAxisLabel]="'temperature' | translate"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [autoScale]="true"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</section>
