@use "../../../../assets/styles/mixins" as *;

.days-forecast-section {
  .container {
    .days-forecast-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;
      //   overflow: auto;
    }
  }
}
