@use "../../../../../assets/styles/mixins" as *;

.forecast-card {
  color: var(--on-background);
  height: 200px;
  border-radius: 14px;
  background-color: var(--background-low);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include md-screen {
    height: 180px;
  }
  @include sm-screen {
    height: 145px;
    padding: 10px;
  }
  &__date {
    max-width: 85px;
    text-align: center;
    @include sm-screen {
      max-width: 60px;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  &__weather {
    font-weight: 200;
  }
  &__icon {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
