@use "./mixins" as *;

.btn {
  font-family: Noto Sans, sans-serif;
  font: var(--body-large);
  font-weight: 600;
  line-height: 115%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s linear;
  @include md-screen {
    font: var(--body-medium);
    font-weight: 600;
  }
  @include sm-screen {
    font: var(--body-small);
    font-weight: 600;
  }
  &-primary {
    height: 48px;
    width: 100%;
    color: var(--on-background);
    background-color: var(--background-bright);
    box-shadow: var(--shadow);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 18px 20px;
    gap: 8px;
    @include md-screen {
      height: 38px;
    }
    &:hover {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.6;
    }
    &.fixed-size {
      height: 48px;
      width: 130px;
      @include sm-screen {
        height: 38px;
        width: 120px;
      }
    }
    &-blue {
      color: var(--on-primary-fixed);
      background-color: var(--primary-fixed-dim);
      box-shadow: none;
    }
  }
  &-round {
    height: 45px;
    width: 45px;
    color: var(--on-background);
    background-color: var(--background-low);
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0;
    @include md-screen {
      height: 40px;
      width: 40px;
    }
    @include sm-screen {
      height: 35px;
      width: 35px;
    }
    &:hover {
      background-color: var(--background-high);
    }
    &:disabled {
      opacity: 0.6;
    }
    svg {
      fill: var(--on-background);
    }
  }
}
