:root {
  // Colors
  --black: #1c1c1d;
  --white: #e3e2e6;
  --gray: #c5ccd4;
  --light-blue: rgb(244, 251, 255);
  --blue: #66a2f4;
  --dark-blue: #5388d7;
  --red: rgb(238, 96, 68);
  --green: rgb(77, 203, 93);
  --yellow: rgb(252, 217, 79);
  --shadow: 0px 2px 15px rgba(25, 33, 61, 0.1);
  --light-shadow: 0px 2px 15px rgba(110, 110, 116, 0.1);
  --shadow-level0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --shadow-level1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-level2: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --shadow-level4: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  --shadow-level5: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);

  // Text
  --body-large: 400 1rem / 1.5rem Noto Sans;
  --body-large-font: Noto Sans;
  --body-large-line-height: 1.5rem;
  --body-large-size: 1rem;
  --body-large-tracking: 0.031rem;
  --body-large-weight: 400;
  --body-medium: 400 0.875rem / 1.25rem Noto Sans;
  --body-medium-font: Noto Sans;
  --body-medium-line-height: 1.25rem;
  --body-medium-size: 0.875rem;
  --body-medium-tracking: 0.016rem;
  --body-medium-weight: 400;
  --body-small: 400 0.75rem / 1rem Noto Sans;
  --body-small-font: Noto Sans;
  --body-small-line-height: 1rem;
  --body-small-size: 0.75rem;
  --body-small-tracking: 0.025rem;
  --body-small-weight: 400;
  --display-large: 400 3.562rem / 4rem Noto Sans;
  --display-large-font: Noto Sans;
  --display-large-line-height: 4rem;
  --display-large-size: 3.562rem;
  --display-large-tracking: -0.016rem;
  --display-large-weight: 400;
  --display-medium: 400 2.812rem / 3.25rem Noto Sans;
  --display-medium-font: Noto Sans;
  --display-medium-line-height: 3.25rem;
  --display-medium-size: 2.812rem;
  --display-medium-tracking: 0;
  --display-medium-weight: 400;
  --display-small: 400 2.25rem / 2.75rem Noto Sans;
  --display-small-font: Noto Sans;
  --display-small-line-height: 2.75rem;
  --display-small-size: 2.25rem;
  --display-small-tracking: 0;
  --display-small-weight: 400;
  --headline-large: 400 2rem / 2.5rem Noto Sans;
  --headline-large-font: Noto Sans;
  --headline-large-line-height: 2.5rem;
  --headline-large-size: 2rem;
  --headline-large-tracking: 0;
  --headline-large-weight: 400;
  --headline-medium: 400 1.75rem / 2.25rem Noto Sans;
  --headline-medium-font: Noto Sans;
  --headline-medium-line-height: 2.25rem;
  --headline-medium-size: 1.75rem;
  --headline-medium-tracking: 0;
  --headline-medium-weight: 400;
  --headline-small: 400 1.5rem / 2rem Noto Sans;
  --headline-small-font: Noto Sans;
  --headline-small-line-height: 2rem;
  --headline-small-size: 1.5rem;
  --headline-small-tracking: 0;
  --headline-small-weight: 400;
  --label-large: 500 0.875rem / 1.25rem Noto Sans;
  --label-large-font: Noto Sans;
  --label-large-line-height: 1.25rem;
  --label-large-size: 0.875rem;
  --label-large-tracking: 0.006rem;
  --label-large-weight: 500;
  --label-large-weight-prominent: 700;
  --label-medium: 500 0.75rem / 1rem Noto Sans;
  --label-medium-font: Noto Sans;
  --label-medium-line-height: 1rem;
  --label-medium-size: 0.75rem;
  --label-medium-tracking: 0.031rem;
  --label-medium-weight: 500;
  --label-medium-weight-prominent: 700;
  --label-small: 500 0.688rem / 1rem Noto Sans;
  --label-small-font: Noto Sans;
  --label-small-line-height: 1rem;
  --label-small-size: 0.688rem;
  --label-small-tracking: 0.031rem;
  --label-small-weight: 500;
  --title-large: 400 1.375rem / 1.75rem Noto Sans;
  --title-large-font: Noto Sans;
  --title-large-line-height: 1.75rem;
  --title-large-size: 1.375rem;
  --title-large-tracking: 0;
  --title-large-weight: 400;
  --title-medium: 500 1rem / 1.5rem Noto Sans;
  --title-medium-font: Noto Sans;
  --title-medium-line-height: 1.5rem;
  --title-medium-size: 1rem;
  --title-medium-tracking: 0.009rem;
  --title-medium-weight: 500;
  --title-small: 500 0.875rem / 1.25rem Noto Sans;
  --title-small-font: Noto Sans;
  --title-small-line-height: 1.25rem;
  --title-small-size: 0.875rem;
  --title-small-tracking: 0.006rem;
  --title-small-weight: 500;
}

.light-theme {
  --header-background-transparent: #faf9fdc1;
  --background: #faf9fd;
  --btn-bg: #f1f0f5;
  --btn-bg-hover: #ebeaef;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --inverse-on-surface: #f2f0f4;
  --inverse-primary: #abc7ff;
  --inverse-surface: #2f3033;
  --on-background: #1a1b1f;
  --on-error: #ffffff;
  --on-error-container: #93000a;
  --on-primary: #ffffff;
  --on-primary-container: #00458f;
  --on-primary-fixed: #001b3f;
  --on-primary-fixed-variant: #00458f;
  --on-secondary: #ffffff;
  --on-secondary-container: #3e4759;
  --on-secondary-fixed: #131c2b;
  --on-secondary-fixed-variant: #3e4759;
  --on-surface: #1a1b1f;
  --on-surface-variant: #44474e;
  --on-tertiary: #ffffff;
  --on-tertiary-container: #0000ef;
  --on-tertiary-fixed: #00006e;
  --on-tertiary-fixed-variant: #0000ef;
  --outline: #74777f;
  --outline-variant: #c4c6d0;
  --primary: #005cbb;
  --primary-container: #d7e3ff;
  --primary-fixed: #d7e3ff;
  --primary-fixed-dim: #abc7ff;
  --scrim: #000000;
  --secondary: #565e71;
  --secondary-container: #dae2f9;
  --secondary-fixed: #dae2f9;
  --secondary-fixed-dim: #bec6dc;
  --surface: #faf9fd;
  --surface-bright: #faf9fd;
  --surface-container: #efedf0;
  --surface-container-high: #e9e7eb;
  --surface-container-highest: #e3e2e6;
  --surface-container-low: #f4f3f6;
  --surface-container-lowest: #ffffff;
  --surface-dim: #dbd9dd;
  --surface-tint: #005cbb;
  --surface-variant: #e0e2ec;
  --tertiary: #343dff;
  --tertiary-container: #e0e0ff;
  --tertiary-fixed: #e0e0ff;
  --tertiary-fixed-dim: #bec2ff;
  --neutral-variant20: #2d3038;
  --neutral10: #1a1b1f;
  --pure-black: #000000;
}

.dark-theme {
  --header-background-transparent: #121316c1;
  --background: #121316;
  --btn-bg: #1c1c1f;
  --btn-bg-hover: #232327;
  --error: #ffb4ab;
  --error-container: #93000a;
  --inverse-on-surface: #2f3033;
  --inverse-primary: #005cbb;
  --inverse-surface: #e3e2e6;
  --on-background: #e3e2e6;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --on-primary: #002f65;
  --on-primary-container: #d7e3ff;
  --on-primary-fixed: #001b3f;
  --on-primary-fixed-variant: #00458f;
  --on-secondary: #283041;
  --on-secondary-container: #dae2f9;
  --on-secondary-fixed: #131c2b;
  --on-secondary-fixed-variant: #3e4759;
  --on-surface: #e3e2e6;
  --on-surface-variant: #e0e2ec;
  --on-tertiary: #0001ac;
  --on-tertiary-container: #e0e0ff;
  --on-tertiary-fixed: #00006e;
  --on-tertiary-fixed-variant: #0000ef;
  --outline: #8e9099;
  --outline-variant: #44474e;
  --primary: #abc7ff;
  --primary-container: #00458f;
  --primary-fixed: #d7e3ff;
  --primary-fixed-dim: #abc7ff;
  --scrim: #000000;
  --secondary: #bec6dc;
  --secondary-container: #3e4759;
  --secondary-fixed: #dae2f9;
  --secondary-fixed-dim: #bec6dc;
  --surface: #121316;
  // --surface-bright: #38393c;
  // --surface-bright: #1a1a1c;
  --surface-bright: #1c1c1f;
  --surface-container: #1f2022;
  --surface-container-high: #292a2c;
  --surface-container-highest: #343537;
  --surface-container-low: #1a1b1f;
  --surface-container-lowest: #0d0e11;
  --surface-dim: #121316;
  --surface-tint: #abc7ff;
  --surface-variant: #44474e;
  --tertiary: #bec2ff;
  --tertiary-container: #0000ef;
  --tertiary-fixed: #e0e0ff;
  --tertiary-fixed-dim: #bec2ff;
  --neutral-variant20: #2d3038;
  --neutral10: #1a1b1f;
  --pure-black: #000000;
}
