<header class="header-section">
  <div class="container">
    <app-logo iconColor="blue" [hideTextOnSmallScreen]="true"></app-logo>
    <div class="form-wrapper">
      <app-search-form></app-search-form>
    </div>
    <nav class="main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__list__item">
          <a routerLink="/favorites" class="link">
            {{ "header.favorites" | translate }}
          </a>
        </li>
        <li class="main-menu__list__item">
          <a routerLink="/compare" class="link">
            {{ "header.compare" | translate }}
          </a>
        </li>
        <li class="main-menu__list__item">
          <app-city-select-form></app-city-select-form>
        </li>
        <li class="main-menu__list__item">
          <app-nav-login-btn></app-nav-login-btn>
        </li>
      </ul>
    </nav>
    <app-sidebar></app-sidebar>
  </div>
</header>
