<header class="header-section">
  <div class="container">
    <app-logo iconColor="blue" [hideTextOnSmallScreen]="true"></app-logo>
    <div class="input-wrapper">
      <app-custom-input
        inputId="search-field"
        [placeholder]="'header.placeholder' | translate"
      ></app-custom-input>
    </div>
    <nav class="main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__list__item">
          <a routerLink="favorites" class="link">{{
            "header.favorites" | translate
          }}</a>
        </li>
        <li class="main-menu__list__item">
          <a routerLink="compare" class="link">{{
            "header.compare" | translate
          }}</a>
        </li>
        <li class="main-menu__list__item">
          <button
            type="button"
            class="btn btn-primary btn-primary-blue fixed-size"
          >
            {{ "header.signIn" | translate }}
          </button>
        </li>
      </ul>
    </nav>
    <div class="togglers-wrapper">
      <app-language-toggle></app-language-toggle>
      <app-theme-toggle></app-theme-toggle>
      <app-temperature-toggle></app-temperature-toggle>
    </div>
    <app-sidebar></app-sidebar>
  </div>
</header>
